# ----------------
# from .gitignore
# ----------------

.DS_Store
*.pyc

db.sqlite3

dist

# packages folders
node_modules
venv

# local env files
.env
.env.local
.env.*.local
dev_secrets.py

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
