# django and drf
Django==2.2.8
djangorestframework==3.10.2

# django extra packages
whitenoise==4.1.3
django-rest-auth==0.9.5
django-cors-middleware==1.4.0
django-allauth==0.39.1
django-localflavor==2.2

# dev tools
ptvsd==4.2.0
pytz==2019.2

# pip tools
pip==19.2.1
setuptools==41.0.1
wheel==0.33.4