# django and drf
Django==2.2.4
djangorestframework==3.10.2

# django extra packages
whitenoise==4.1.3
django-rest-auth==0.9.5
django-cors-middleware==1.4.0
django-allauth==0.39.1
django-localflavor==2.2

# db
dj-database-url==0.5.0
psycopg2-binary==2.8.3

# prod tools
gunicorn==19.9.0

# pip tools
pip==21.1
setuptools==41.0.1
wheel==0.33.4